/* MENU BAR */
/* .menu {
    background-color: goldenrod;
    height: 150px;
    max-width: 1200px;
 } */
/* NAVIGATION BAR */
nav {
  background-color: black;
  height: 200px;
  /* width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 20px; */
  max-width: 1200px;
  position: sticky;
}
a {
  /* background-color: blue; */
  padding: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.btn {
  width: 100px;
  height: 50px;
}
nav:hover {
  background-color: green;
}
a:hover {
  background-color: purple;
}
a:visited {
  background-color: yellow;
}
a:active {
  background-color: green;
}

/* SECTION PART */
.flex-container {
  display: grid;
  grid-template-columns: 300px 800px;
  column-gap: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: darkorange;
  /* width: 1200px; */
  height: 800px;
  max-width: 1200px;
  /* gap: 20px; */
}
.flex-item1 {
  /* background-color: darkgreen; */
  width: 800px;
  height: 900px;
  border-radius: 20px;
}
.flex-item2 {
  background-color: rgba(0, 0, 0, 0.808);
  margin-left: 0px;
  padding-top: 30px;
  width: 300px;
  height: 100%;
  line-height: 3;
  font-family: "Times New Roman", Times, serif;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
img {
  width: 100%;
  height: 80px;
  width: 80px;
}
.img2:hover {
  transform: scale(3.5, 3.5);
}
img:hover {
  transform: scale(1.5, 1.5);
}
/* FOOTER */
footer {
  background-color: blue;
  height: 300px;
  text-align: center;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.socio-media {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.footer-link {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
footer:hover {
  background-color: aqua;
}
