* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
/* HEADER SECTION */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: wheat;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}
#navbar li {
  list-style: none;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: green;
  transition: 0.4s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: black;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
}

/* HERO SECTION */
#hero {
  height: 120vb;
  width: 100%;
  /* background-color: aqua; */
  background-image: url("img/Backround images/young-man-with-hat-head-shopping-nets.jpg");
  background-size: cover;
  background-position: top 5% right 0;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h1 {
  font-size: 58px;
  padding-bottom: 28px;
  color: green;
  font-style: italic;
}
#hero h2 {
  color: blue;
}
#hero p {
  font-size: 20px;
  padding-bottom: 16px;
}
#hero .btn {
  background-color: purple;
  font-size: 23px;
  padding: 8px 30px;
  border-radius: 12px;
}
#hero .btn:hover {
  color: white;
  cursor: pointer;
}
.star {
  height: 30px;
  width: 20px;
}
#Products h1 {
  text-align: center;
  font-size: 60px;
  padding-top: 40px;
  color: blue;
}
#Products h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
#pro-container {
  padding: 30px;
  border-radius: 10px;
}
#pro-container #pro {
  width: 100%;
  height: 100%;
}
#pro-container #pro h3 {
  color: green;
}
#pro-container #pro #desc {
  text-align: center;
}
/* BANNER SECTION */
#banner {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/Backround images/banner.jpg");
  background-position: 20% top 2% right;
  background-size: cover;
  padding-top: 0px;
}
#banner h1 {
  font-size: 50px;
  padding-left: 400px;
  padding-bottom: 50px;
}
#banner h5 {
  font-size: 30px;
  padding-bottom: 30px;
}
#banner button {
  font-size: 20px;
  border: 5px solid white;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
}
#banner button:hover {
  background-color: blue;
  cursor: pointer;
}
#banner span {
  color: red;
}
/* SM BANNER */
#sm-banner {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sm-banner .sm-banner1 {
  width: 50%;
  height: 60vh;
  background-image: url("img/Backround images/banner1.jpg");
  background-position: 10% top 2% right;
  background-size: cover;
  padding: 120px 30px;
}
#sm-banner .sm-banner1 h2 {
  font-size: 40px;
  color: black;
  padding-bottom: 20px;
}

#sm-banner .sm-banner1 button {
  padding-top: 20px;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 10px;
}
#sm-banner .sm-banner1 button:hover {
  background-color: rgb(3, 65, 3);
  cursor: pointer;
  color: white;
}

#sm-banner .sm-banner2 {
  width: 50%;
  height: 60vh;
  background-image: url("img/Backround images/banner2.jpg");
  background-position: 10% top 2% right;
  background-size: cover;
  padding: 120px 15px;
}

#sm-banner .sm-banner2 h2 {
  font-size: 40px;
  color: red;
  padding-bottom: 20px;
}

#sm-banner .sm-banner2 button {
  padding-top: 20px;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 10px;
}
#sm-banner .sm-banner2 button:hover {
  background-color: rgb(3, 65, 3);
  cursor: pointer;
  color: white;
}
/* FOOTER */
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.foot a {
  text-decoration: none;
  color: blue;
}
.foot .col1 {
  line-height: 1.8;
}
.foot .col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2;
}
.foot .col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  line-height: 2;
}

/* START THE Media Query */

/* FOR DESKTOPS SCREEN */
@media (max-width: 1536px) {
}
/* FOR LARGE LAPTOPS */
@media (max-width: 1280px) {
}
/* FOR SMALL LAPTOPS */
@media (max-width: 1024px) {
}
/* FOR TABLETS */
@media (max-width: 768px) {
}
/* FOR LANDSCAP MOBILE */
@media (max-width: 576px) {
}
/* FOR POTRAIT MOBILE */
@media (max-width: 480px) {
}
#form {
  width: 100%;
  background-image: url("img/Backround images/background.jpg");
  background-position: 22% top 0% right;
  background-size: cover;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#form h1 {
  padding-bottom: 39px;
  padding-top: 39px;
}
.reg-container {
  width: 800px;
  height: 800px;
  text-align: center;
  align-content: center;
  font-weight: 900;
  background-color: blue;
  margin-left: 200px;
  border-radius: 20px;
  line-height: 4;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}
.data {
  width: 50%;
  height: 50px;
  border: 2px solid white;
  outline: none;
  /* border-bottom: 4px solid white; */
  background-color: blue;
  border-radius: 20px;
  margin-bottom: 30px;
}
#password {
  margin-bottom: 40px;
}
.data::placeholder {
  color: white;
  transition: 1s ease;
}

.data:hover::placeholder {
  transform: translateY(-20px);
  font-size: 20px;
  cursor: pointer;
  transition: 1.5s ease;
}
a {
  color: black;
}
#btn {
  width: 50%;
  height: 50px;
  border-radius: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}
#btn:hover {
  padding: 20px;
  background-color: orange;
  color: blue;
  cursor: pointer;
  transition: 0.25s ease;
  /* font-size: 30px; */
}
.reg-container:hover {
  background-color: green;
}
